*,
::after,
::before {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header,
.headLine,
.grid-container {
  padding-left: 24px;
  padding-right: 24px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
}

.logo {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

/* header-background-mobile */

.headLine {
  background: #fff;
  background-image: url("../images/header-shapes-mobile.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 718px;
}

.headLine h1 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-top: 104px;
  padding-right: 40px;
}

.headLine p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 12px;
}

/* LET’S CONNECT */

.letsConnect h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  color: #7f8cff;
  text-transform: uppercase;
}

.social-item {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-top: 15px;
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 4;
  background-color: #E5E5E5;
  padding-top: 114px;
}

:nth-last-child(-4+1){
  background-color: white;
  padding: 16px;
  border-radius:15px;
  margin-top: 88px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
  border-radius:15px;
  margin-top: 88px;
}

.card-title {
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
color: #172B4D;
}

.icons {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
  padding-left: 0;
}

.client {
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
color: #344563;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.role-year{
  font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
color: #7A869A;

}

.primary-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.languages {
  background: #ebebff;
  border-radius: 8px;
  letter-spacing: 0.03em;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px;
}

.see-more-button{
    margin-top: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396DF2;
    padding: 12px;
    border: 1px solid #6070ff;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
}

.languages-title{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.languages-vertical {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
  padding-left: 0;
}

.languages-vertical li{
  display: flex;
  flex-direction: row;
  justify-items:self-start;
}
.languages-vertical img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  margin-right: 5px;
}

.languages-vertical li{
  font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.not-expanded{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #7A869A 1px solid;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding: 10px;

}

.test{
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
color: #172B4D;
}


.grid-item-alt{
  background: #fff;
  width: 100%;
    padding-top: 114px;
    border-top-right-radius:15px;
    background-color: white;
    
}

.skill-set{
  font-weight: 500;
font-size: 15px;
line-height: 20px;
color: #253858;
}
